body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 100px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 20px;
}
